body {
    background: #CCCCCC;
    color: #000000;
}

#site-header {
    background: #1E90FF;
}

#site-header-logo {
    color: #F7EF99;
}

#site-header-user-info {
    color: #F7EF99;
}

#site-header-user-info a {
    color: #FFEE88
}

#main-wrapper {
    background: #FEFEFE;
}

#site-footer {
    background: #666666;
    color: #CCCCCC;
}

.http-error-message {
    color: #8B0000;
}


/* EVENT MONEY RECORDS PAGE */

/* EVENT MONEY RECORDS - TABLE VIEW */

#records-event-name {
    color: #3071A9;
}

.records-col {
    background: #EFEFEF;
}

.records-header {
    background: #1E90FF;
    color: #FEFEFE;
}

.action-link {
    color: #2222ff;
}

.records-footer {
    background: #1E90FF;
    color: #FEFEFE;
}


/* EVENT MONEY RECORDS - LIST VIEW */

#record-list-items {
    background: #f6f6f6;
}

.record-list-item {

}

.record-list-item-date {
    color: #3071A9;
}

.record-list-item-description {
    color: #0A0A0A;
}

.record-list-item-participant {
    color: #3071A9;
}

.record-list-item-amount {
    color: #3071A9;
}

#event-summary {
    background: #1E90FF;
    color: #FEFEFE;
}




/* FORMS */


.form-title {
    color: #2A5082;
}

.form-description {
    color: #222222;
}

.form-label {
    color: #2A5082;
}

.form-errors, form ul.errorlist {
    color: #FF0000;
}

.button {
    background: #3071A9;
    color: #FEFEFE;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background: #3071A9;
    opacity: 0.75;
}

.button:active {
    background: #ADD8E6;
    opacity: 0.75;
}

.button-warn {
    background: #C2433D;
}

.button-warn:hover {
    background: #C2433D;
}

.button-warn:active {
    background: #ffb4b4;
}

.radio-button-selector {
    background: #3071A9;
    color: #FEFEFE;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.radio-button-selector:hover {
    background: #3071A9;
    opacity: 0.85;
}

#money-record-form #confirm-delete-text {
    color: #3B3B3B;
    white-space: nowrap;
}