body {

}

#site-header-mobile-actions {
    display: table-cell;
    width: 100%;
    text-align: right;
    vertical-align: top;

    padding: 5px 5px 0 0;
}

#mobile-actions-button {
    font-size: 40px;
    padding: 0 8px;
    min-width: 0;
    border-radius: 3px;
}

#mobile-actions-menu {
    z-index: 10;
    position: fixed;
    right: 0;
    top: 55px;
}

.mobile-action {
    padding: 0 20px 5px 10px;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
}

.mobile-action-separator {

}

.mobile-action-separator-inner {
    width: 75%;
    height: 1px;
    margin: 5px auto;
}

#main-wrapper {
    display: block;
    margin: 0;
    min-width: 100%;
    min-height: 0;
}

#inner-wrapper {
    padding: 5px 5px 5px 5px;
    min-height: 400px;
}


/* EVENT MONEY RECORDS PAGE */

#records-title-bar {
    display: block;

    margin-bottom: 25px;
}

#records-event-name {
    display: block;

    line-height: 36px;
    font-size: 25px;
    font-weight: bold;
}

#records-view-controls {
    display: block;
}

#button-add-expense {

}

#button-add-transfer {
    display: none;
}

#participants-view-toggle {
    display: none;
}


#records-list {
    /* list view is displayed */
    display: block;
}

#record-list-items {

}

.record-list-item {
    display: table;
    padding: 5px 3px 8px 3px;
    border-top: 3px solid #9c9c9c;
}

.record-list-item-left {
    display: table-cell;
    width: 100%
}

.record-list-item-right {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.record-list-item-right-line1 {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

.record-list-item-right-line2 {
    display: table;
    width: 100%;
    margin: 0;
}

.record-list-item-description {
    display: table-cell;
    width: 100%;
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
}

.record-list-item-amount {
    display: table-cell;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
}

.record-list-item-participant {
    display: table-cell;
    width: 100%;
    text-align: right;
    vertical-align: bottom;
    font-size: 17px;
    font-weight: bold;
}

.record-list-item-date {
    display: table-cell;
    padding-right: 20px;
    text-align: left;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}






#money-record-form .form-label {
    width: 120px;
}

#money-record-form #field-description .form-field {
    width: 220px;
}

#money-record-form #field-description input {
    width: 210px;
}