body {

}

#site-header-user-info {
    display: table-cell;
    width: 100%;
    text-align: right;
    vertical-align: top;

    padding: 10px 15px 0 0;
    font-size: 18px;
}

#site-header-user-greeting {
    display: inline-block;
}

#site-header-user-actions {
    display: inline-block;
}

.site-header-user-action {
    display: inline-block;
    margin-left: 5px;
}

#main-wrapper {
    display: table;
	margin: 0 auto;
    min-width: 750px;
    min-height: 0;
}

#inner-wrapper {
    padding: 10px 20px 10px 20px;
    min-height: 500px;
}


/* EVENT MONEY RECORDS PAGE */

#records-title-bar {
    display: block;
    margin-bottom: 25px;
}

#records-event-name {
    display: block;
    margin-bottom: 20px;

    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
}

#records-view-controls {
    display: block;
}

#participants-view-toggle {
    display: inline-block;
    margin-left: 10px;
}

#records-table {
    /* table view is displayed */
    display: table;
}

#records-table #participant-cols {
    display: block;
    float: left;
    margin-left: 10px;
}

.records-col {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

.records-col.records-col-actions {

}

.records-col.records-col-date {

}

.records-col.records-col-description {
    min-width: 400px;
}

.records-col.records-col-amount {
    text-align: right;
    white-space: nowrap;
}

.records-col.records-col-payer {

}

.records-col.records-col-participant {
    text-align: right;
    min-width: 95px;
}

.records-cell {
    padding-left: 12px;
    padding-right: 12px;
}

.records-header {
    height: 26px;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 10px;
}

.records-body {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
}

.records-body-last-row {
    height: 25px;
}

.records-footer {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
}

.records-allocation-value {
    display: block;
}

.records-contribution-value {
    display: block;
}


#money-record-form .form-label {
    width: 180px;
}

#money-record-form #field-description .form-field {
    width: 360px;
}

#money-record-form #field-description input {
    width: 350px;
}