/* GENERAL STYLES */

body {
    padding: 0;
    margin: 0;
    background-color: #CCC;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#site-header {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    height: 50px;
    background-color: dodgerblue;
}

#site-header #logo {
    float: left;
    margin: 5px 0 10px 20px;
    font-size: 34px;
    font-weight: bold;
    color: #F7EF99;
}

#site-header #user-info {
    float: right;
    margin: 8px 15px 0 0;
    color: #F7EF99
}

#site-header #user-info a {
    margin-left: 10px;
    color: #FFEE88
}

#main-wrapper {
    display: table;
	margin: 0 auto;
    padding-top: 50px;
    min-width: 800px;
    min-height: 500px;
    background-color: #FEFEFE;
}

#inner-wrapper {
    padding: 25px 20px 10px 20px;
    /*min-width: 800px;*/
    min-height: 400px;
    /*overflow: auto;*/
}

#site-footer {
    min-height: 60px;
    margin-top: 50px;
    padding: 20px 20px 10px 10px;
    background-color: #666;
    color: #cccccc;
    text-align: right;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: dodgerblue;
    color: #F7EF99;
}

.sub-title {
    font-size: 26px;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 10px;
}

.floating {
    float: left;
}

.clear-float {
    clear: both;
}




/* EVENT MONEY RECORDS PAGE */

.records-table {
    display: table;
}

.records-col {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

.records-col.records-col-numeric {
    text-align: right;
}

.records-col.records-col-person {
    text-align: right;
    background-color: #EAEAEA;
}

.records-cell {
    padding-left: 12px;
    padding-right: 12px;
}

.records-header {
    height: 26px;
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
    background-color: lightblue;
    margin-bottom: 10px;
}

.records-header.records-header-person {
    color: darkgreen;
}

.records-body {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
}

.records-body.records-body-last-row {
    margin-bottom: 20px;
}

.records-body .action-link {
    color: #0000EE;
}

.records-footer {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    background-color: lightblue;
}

.records-footer.records-footer-strong {
    font-weight: bold;
}




/* GENERIC FORM STYLING - APPLICABLE TO ALL FORMS */

.form-wrapper {
    padding: 10px;
}

.form-col {
    /*border: 1px solid;*/
}

.form-labels-col {

}

.form-fields-col {

}

.form-field-errors-col {

}

.form-col div {
    /*border: 1px solid;*/
    min-height: 30px;
    margin: 5px 10px 5px 0;
}

.form-errors, form ul.errorlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: red;
}

.form-errors {
    min-height: 20px;
    margin-bottom: 10px;
}

.form-buttons {
    margin-top: 25px;
}

.form-button {
    background: #428BCA;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 35px;
    min-width: 100px;
    text-align: center;
    border: 0;
    margin-right: 5px;
}

.form-button:hover {
    background: #3071A9
}

.form-button:active {
    background: #a1accf;
}




/* LOGIN FORM */

#login-form {

}


/* MONEY RECORD FORM */

#money-record-form {

}

#money-record-form #field-pub-date input {
    width: 80px;
}

#money-record-form #field-description input {
    width: 350px;
}

#money-record-form #field-amount input {
    width: 80px;
}

#money-record-form #field-participant select {
    width: 200px;
}