/* GENERAL STYLES */

body {
    padding: 0;
    margin: 0;
    min-width: 350px;
    min-height: 0;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#site-header {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    height: 50px;
}

#site-header #logo {
    float: left;
    margin: 5px 0 10px 20px;
    font-size: 34px;
    font-weight: bold;
}

#site-header #user-info {
    float: right;
    margin: 10px 15px 0 0;
    font-size: 18px;
}

#site-header #user-info a {
    margin-left: 10px;
}

#main-wrapper {
    box-sizing: border-box;
    padding-top: 50px;
}

#inner-wrapper {
    box-sizing: border-box;
}

#site-footer {
    box-sizing: border-box;
    min-height: 90px;
    margin-top: 50px;
    padding: 20px 20px 10px 10px;
    text-align: right;
}

.http-error-message {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.clear-float {
    clear: both;
}




/* EVENT MONEY RECORDS PAGE */


#records-title-bar {

}

#records-event-name {

}

#records-control-buttons {

}

#records-title-clearfix {

}


#records-table {
    /* activated by media query dependent stylesheet */
    display: none;
}

#records-list {
    /* activated by media query dependent stylesheet */
    display: none;
}







/* GENERIC FORM STYLING - APPLICABLE TO ALL FORMS */

form {
    margin: 0;
}

.form-wrapper {
    padding: 10px;
}

.form-title {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-description {
    font-size: 16px;
    font-style: italic;
}

.form-row {
    display: block;
    margin-bottom: 10px;
}

.form-row-item {
    margin-top: 5px;
}

.form-label {
    display: inline-block;
    width: 100px; /* default */
    font-weight: bold;
}

.form-field {
    display: inline-block;
    width: 180px; /* default */
}

.form-field-errors {
    display: inline-block;
    width: 180px; /* default */
}

.form-errors, form ul.errorlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.form-errors {
    min-height: 20px;
    margin-bottom: 10px;
}

.button {
    font-size: 20px;
    line-height: 38px;
    min-width: 100px;
    text-align: center;
    border: 0;
    padding: 0 10px;
    margin: 0;
}

.button.button-small {
    font-size: 20px;
    line-height: 30px;
    min-width: 0;
    padding: 2px 5px;
}

.button.button-margin-left {
    margin-left: 5px;
    margin-right: 0;
}

.button.button-margin-right {
    margin-left: 0;
    margin-right: 5px;
}

.button.button-no-margin {
    margin-left: 0;
    margin-right: 0;
}

.button:hover {
}

.button:active {
}

.form-buttons {
    margin-top: 25px;
}





/* LOGIN FORM */

#login-form {

}

#login-form .form-label {
    width: 100px;
}

#login-form .form-field {
    width: 180px;
}

#login-form .form-field-errors {
    width: 180px;
}

#login-form .form-buttons {
    padding-left: 175px;
}





/* MONEY RECORD FORM */

#money-record-form {

}

#money-record-form .form-label {
    width: 180px; /* default */
}

#money-record-form .form-field {
    width: 90px;
}

#money-record-form .form-field-errors {
    width: 180px;
}

#money-record-form #field-pub-date input {
    width: 80px;
}

#money-record-form #field-description .form-field {
    width: 360px; /* default */
}

#money-record-form #field-description input {
    width: 350px; /* default */
}

#money-record-form #field-amount input {
    width: 80px;
}

#money-record-form #field-participant1 select {
    min-width: 80px;
}

#money-record-form #field-participant2 select {
    min-width: 80px;
}