/* GENERAL STYLES */

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#site-header {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    height: 50px;
}

#site-header #logo {
    float: left;
    margin: 5px 0 10px 20px;
    font-size: 34px;
    font-weight: bold;
}

#site-header #user-info {
    float: right;
    margin: 8px 15px 0 0;

}

#site-header #user-info a {
    margin-left: 10px;
}

#main-wrapper {
    box-sizing: border-box;
    padding-top: 50px;
}

#inner-wrapper {
    padding: 10px 20px 10px 20px;
    min-height: 400px;
}

#site-footer {
    min-height: 60px;
    margin-top: 50px;
    padding: 20px 20px 10px 10px;
    text-align: right;
}

.page-title {
    font-size: 26px;
    font-weight: bold;

    margin-bottom: 10px;
}

.error {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.floating {
    float: left;
}

.clear-float {
    clear: both;
}




/* EVENT MONEY RECORDS PAGE */

.records-title-bar {
    height: 40px;
    margin-bottom: 5px;
}

.records-title-bar #event-name {
    float: left;

    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
}

.records-title-bar #add-record-form {
    float: right;
}

.records-table {
    display: table;
}

.records-table .participant-cols {
    margin-left: 10px;
}

.records-col {
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
}

.records-col.records-col-description {
    min-width: 400px;
}

.records-col.records-col-numeric {
    text-align: right;
}

.records-col.records-col-participant {
    text-align: right;
}

.records-cell {
    padding-left: 12px;
    padding-right: 12px;
}

.records-header {
    height: 26px;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 10px;
}

.records-header.records-header-participant {

}

.records-body {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
}

.records-body-last-row {
    height: 25px;
}

.records-footer {
    height: 24px;
    line-height: 24px;
    font-size: 16px;

}

.records-footer.records-footer-strong {
    font-weight: bold;
}





/* GENERIC FORM STYLING - APPLICABLE TO ALL FORMS */

form {
    margin: 0px;
}

.form-wrapper {
    padding: 10px;
}

.form-col div {
    min-height: 30px;
    margin: 5px 10px 5px 0;
}

.form-row {
    display: block;
    margin-bottom: 10px;
}

.form-row-item {
    margin-top: 5px;
}

.form-label {
    display: inline-block;
    width: 100px; /* default */
}

.form-field {
    display: inline-block;
    width: 180px; /* default */
}

.form-field-errors {
    display: inline-block;
    width: 180px; /* default */
}

.form-errors, form ul.errorlist {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.form-errors {
    min-height: 20px;
    margin-bottom: 10px;
}

.form-buttons {
    margin-top: 25px;
}

.form-buttons .form-button {
    margin-right: 5px;
}

.form-button {
    font-size: 20px;
    line-height: 35px;
    min-width: 100px;
    text-align: center;
    border: 0;
}

.form-button:hover {
}

.form-button:active {
}




/* LOGIN FORM */

#login-form {

}

#login-form .form-label {
    width: 100px;
}

#login-form .form-field {
    width: 180px;
}

#login-form .form-field-errors {
    width: 180px;
}





/* MONEY RECORD FORM */

#money-record-form {

}

#money-record-form .form-label {
    width: 180px;
}

#money-record-form .form-field {
    width: 90px;
}

#money-record-form .form-field-errors {
    width: 180px;
}

#money-record-form #field-pub-date input {
    width: 80px;
}

#money-record-form #field-description .form-field {
    width: 360px;
}

#money-record-form #field-description input {
    width: 350px;
}

#money-record-form #field-amount input {
    width: 80px;
}

#money-record-form #field-participant1 select {
    min-width: 80px;
}

#money-record-form #field-participant2 select {
    min-width: 80px;
}