{% load staticfiles %}
{% load custom_filters %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" media="(max-width: 750px)" href="{% static 'style-narrow.css' %}">
    <link rel="stylesheet" media="(min-width: 751px)" href="{% static 'style-wide.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'colors.css' %}" />


    {######## jQuery and jQuery-UI served locally #######}
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.11.2/jquery-ui.css' %}" />
    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.2/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery-cookie-v.1.4.1/jquery.cookie.js' %}"></script>


    <script>

        $(document).ready(function() {
            // - enable all date picker inputs on the page, where applicable
            // - make the underlying fields read-only to prevent direct text input (must use datepicker widget)
            $('.datepicker').datepicker().prop('readonly', true);
        });

        function toggleMobileMenu() {
            $('#mobile-actions-menu-wrapper').fadeToggle();
        }

    </script>
</head>

<body>

    <div id="site-header">
        <div id="site-header-logo" onclick="window.location.href='{% url 'landing' %}';">trakr</div>

        {# Visible in wide view #}
        <div id="site-header-user-info">
            {% if user.is_authenticated %}
                <div id="site-header-user-greeting">Hey, {{ user | user_name }}!</div>
                <div id="site-header-user-actions">
                    <a class="site-header-user-action" href="{% url 'account' %}">My Account</a>
                    <a class="site-header-user-action" href="{% url 'logout' %}">Logout</a>
                </div>
            {% endif %}
        </div>

        {# Visible in mobile view #}
        <div id="site-header-mobile-actions">
            {% if user.is_authenticated %}
                <button id="mobile-actions-button" class="button" onclick="toggleMobileMenu(); return false;">&#9776;</button>
                <div id="mobile-actions-menu-wrapper" onclick="toggleMobileMenu(); return false;">
                    <div id="mobile-actions-menu">
                        {# Custom actions, configured on a per-page basis #}
                        {% if mobile_actions %}
                            {% for action in mobile_actions %}
                                <div class="mobile-action" onclick="window.location.href='{{ action.url }}';">{{ action.display_name }}</div>
                            {% endfor %}
                            <div class="mobile-action-separator">
                                <div class="mobile-action-separator-inner"></div>
                            </div>
                        {% endif %}

                        {# These actions are always there #}
                        <div class="mobile-action" onclick="window.location.href='{% url 'account' %}';">my account</div>
                        <div class="mobile-action" onclick="window.location.href='{% url 'logout' %}';">log out</div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    <div id="main-wrapper">
{#        <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}

        <div id="inner-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <div id="site-footer">
            {# TODO: provide footer content #}
        </div>
    </div>
</body>







