{% load staticfiles %}
{% load custom_filters %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" media="(max-width: 750px)" href="{% static 'style-narrow.css' %}">
    <link rel="stylesheet" media="(min-width: 751px)" href="{% static 'style-wide.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'colors.css' %}" />


    {######## jQuery and jQuery-UI served locally #######}
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.11.2/jquery-ui.css' %}" />
    <script src="{% static 'js/jquery-1.11.2.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.2/jquery-ui.js' %}"></script>

    <script>
        // enable all date pickers
        $(document).ready(function() {
            $('.datepicker').datepicker().prop('readonly', true);
        });
    </script>
</head>

<body>


    <div id="site-header">
        <div id="logo">trakr</div>
        <div id="user-info">
            {% if user.is_authenticated %}
                <span>Hey, {{ user | user_name }}!</span>
                <a class="" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
        <div class="clear-float"></div>
    </div>

    <div id="main-wrapper">
{#        <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}

        <div id="inner-wrapper">
            {% block content %}
            {% endblock %}
        </div>

        <div id="site-footer">
            {# TODO: provide footer content #}
        </div>
    </div>
</body>







