{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block content %}

<div class="sub-title">
    {{ event.name }}
</div>

<div class="records-table">

    <div class="records-col">
        <div class="records-cell records-header"></div>
        {% for record in money_records %}
            <div class="records-cell records-body expense-cell-id-{{ record.record_id }}">
                <a class="action-link" href="{{ record.url_edit }}">Edit</a>
            </div>
        {% endfor %}
        <div class="records-cell records-body records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col">
        <div class="records-cell records-header">Date</div>
        {% for record in money_records %}
            <div class="records-cell records-body expense-cell-id-{{ record.record_id }}">{{ record.pub_date | date:"Y/m/d" }}</div>
        {% endfor %}
        <div class="records-cell records-body records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col">
        <div class="records-cell records-header">Description</div>
        {% for record in money_records %}
            <div class="records-cell records-body expense-cell-id-{{ record.record_id }}">{{ record.description }}</div>
        {% endfor %}
        <div class="records-cell records-body records-body-last-row">
            <a class="action-link" href="{{ url_add_record }}"><img src="{% static 'images/16x16/add.png' %}"> add new</a>
        </div>
        <div class="records-cell records-footer records-footer-strong">Total cost</div>
        <div class="records-cell records-footer records-footer-strong">Balance per person</div>
    </div>

    <div class="records-col records-col-numeric">
        <div class="records-cell records-header">Amount</div>
        {% for record in money_records %}
            <div class="records-cell records-body expense-cell-id-{{ record.record_id }}">{{ record.total_amount | money_amount_hide_zero }}</div>
        {% endfor %}
        <div class="records-cell records-body records-body-last-row"></div>
        <div class="records-cell records-footer records-footer-strong">{{ event_total | money_amount }}</div>
        <div class="records-cell records-footer records-footer-strong">{{ event_split | money_amount }}</div>
    </div>

    <div class="participant-cols">
    {% for participant in participants %}
        <div class="records-col records-col-numeric records-col-participant">
            <div class="records-cell records-header records-header-participant">{{ participant.get_name }}</div>
            {% for record in money_records %}
                <div class="records-cell records-body expense-cell-id-{{ record.record_id }}">{{ record.contributions | get_item:participant | money_amount_hide_zero}}</div>
            {% endfor %}
            <div class="records-cell records-body records-body-last-row"></div>
            <div class="records-cell records-footer">{{ participant_total | get_item:participant | money_amount }}</div>
            <div class="records-cell records-footer">{{ participant_variance | get_item:participant | money_amount }}</div>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock %}
