{% extends "base.html" %}
{% load staticfiles %}
{% load custom_filters %}

{% block content %}

<script>
    $( document ).ready(function() {
        // default state
        $('#radioShowContributionView').prop('checked', true)
        $('#participant-cols').show()
        $('.records-allocation-value').hide()
        $('.records-contribution-value').show()
    });

    function hideParticipantsView() {
        $('#participant-cols').fadeTo(400, 0)
    }

    function showContributionView() {
         $('#participant-cols').fadeTo(200, 0, function() {
            $('.records-allocation-value').hide()
            $('.records-contribution-value').show()

            $('#participant-cols').fadeTo(400, 1)
         })
    }

    function showDebtAllocationView() {
        $('#participant-cols').fadeTo(200, 0, function() {
            $('.records-allocation-value').show()
            $('.records-contribution-value').hide()

            $('#participant-cols').fadeTo(400, 1)
        })
    }
</script>

<div id="records-title-bar">
    <div id="records-event-name">{{ event.name }}</div>

    <div id="records-view-controls">
        <button class="button button-margin-right" onclick="window.location.href='{{ url_add_expense }}';">+ add expense</button>
        <button class="button button-no-margin" onclick="window.location.href='{{ url_add_transfer }}';">+ add transfer</button>
        <div id="participants-view-toggle" class="radio-button-selector">
            <div class="radio-buttons-title">
                Participant details (advanced):
            </div>
            <div class="radio-button">
                <input type="radio" id="radioShowContributionView" name="radio" onchange="showContributionView()" /><label for="radioShowContributionView">individual contribution view</label>
            </div>
            <div class="radio-button">
                <input type="radio" id="radioShowAllocationView" name="radio" onchange="showDebtAllocationView()" /><label for="radioShowAllocationView">expense allocation view</label>
            </div>
            <div class="radio-button">
                <input type="radio" id="radioHideParticipantsView" name="radio" onchange="hideParticipantsView()" /><label for="radioHideParticipantsView">hidden</label>
            </div>
        </div>
    </div>
</div>


{# TABLE VIEW FOR WIDE VIEWPORTS #}
<div id="records-table">

    <div class="records-col records-col-actions">
        <div class="records-cell records-header"></div>
        {% for record in money_records %}
            <div class="records-cell records-body">
                <a class="action-link" href="{{ record.url_edit }}">Edit</a>
            </div>
        {% endfor %}
        <div class="records-cell records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col records-col-date">
        <div class="records-cell records-header">Date</div>
        {% for record in money_records %}
            <div class="records-cell records-body">{{ record.pub_date | date:"Y/m/d" }}</div>
        {% endfor %}
        <div class="records-cell records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col records-col-description">
        <div class="records-cell records-header">Description</div>
        {% for record in money_records %}
            <div class="records-cell records-body">{{ record.description }}</div>
        {% endfor %}
        <div class="records-cell records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col records-col-payer">
        <div class="records-cell records-header">Paid by</div>
        {% for record in money_records %}
            <div class="records-cell records-body">{{ record.participant1.get_name }}</div>
        {% endfor %}
        <div class="records-cell records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col records-col-amount">
        <div class="records-cell records-header">Amount</div>
        {% for record in money_records %}
            <div class="records-cell records-body">{{ record.amount | money_amount:'finance' }}</div>
        {% endfor %}
        <div class="records-cell records-body-last-row"></div>
        <div class="records-cell records-footer"></div>
    </div>

    <div class="records-col records-col-effective-amount">
        <div class="records-cell records-header">Effective</div>
        {% for record in money_records %}
            <div class="records-cell records-body">{{ record.total_amount | money_amount_hide_zero:'finance' }}</div>
        {% endfor %}
        <div class="records-cell records-body-last-row"></div>
        <div class="records-cell records-footer">{{ event_total | money_amount:'finance' }}</div>
    </div>

    <div id="participant-cols">
    {% for participant in participants %}
        <div class="records-col records-col-amount records-col-participant">
            <div class="records-cell records-header">{{ participant.get_name }}</div>
            {% for record in money_records %}
                <div class="records-cell records-body">
                    <div class="records-allocation-value">{{ record.debt_allocations | get_item:participant | money_amount_hide_zero:'finance'}} </div>
                    <div class="records-contribution-value">{{ record.contributions | get_item:participant | money_amount_hide_zero:'finance'}}</div>
                </div>
            {% endfor %}
            <div class="records-cell records-body-last-row"></div>
            <div class="records-cell records-footer">
                <div class="records-allocation-value">{{ participant_debt_allocation | get_item:participant | money_amount:'finance'}}</div>
                <div class="records-contribution-value">{{ participant_contribution | get_item:participant | money_amount:'finance'}}</div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>


{# LIST VIEW FOR NARROW VIEWPORTS #}
<div id="records-list">
    <div id="record-list-items">
        {% for record in money_records %}
            <div class="record-list-item">
                <div class="record-list-item-left">
                    <div class="record-list-item-right-line1">
                        <div class="record-list-item-amount">{{ record.amount | money_amount:'simple' }}</div>
                        <div class="record-list-item-description">
                            {% if record.participant2 %}
                                Transfer of funds
                            {% else %}
                                {{ record.description }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="record-list-item-right-line2">
                        <div class="record-list-item-date">{{ record.pub_date | date:"Y/m/d" }}</div>
                        <div class="record-list-item-participant">
                            {{ record.participant1.get_name }}
                            {% if record.participant2 %} ⇨ {{ record.participant2.get_name }}{% endif %}
                        </div>
                    </div>
                </div>
                <div class="record-list-item-right">
                    <button class="button button-square" onclick="window.location.href='{{ record.url_edit }}';">edit</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{# EVENT SUMMARY IS VISIBLE ALWAYS #}
<div id="event-summary">

        <div class="summary-top">
            <div class="summary-top-amount">Total event cost: {{ event_total | money_amount:'simple' }}</div>
        </div>

        {% for participant in participants %}
            <div class="summary-participant">
                <div class="summary-participant-row">
                    <div class="summary-participant-name">{{ participant.get_name }}</div>
                </div>
                <div class="summary-participant-row">
                    <div class="summary-participant-left">Total funds contributed:</div>
                    <div class="summary-participant-right summary-value">{{ participant_contribution | get_item:participant | money_amount:'simple' }}</div>
                </div>
                <div class="summary-participant-row">
                    <div class="summary-participant-left">Total expenses allocated:</div>
                    <div class="summary-participant-right summary-value">{{ participant_debt_allocation | get_item:participant | money_amount:'simple' }}</div>
                </div>
                <div class="summary-participant-row">
                    {% if participant in participant_overcontrib %}
                        <div class="summary-participant-left">Over-contribution (receivable):</div>
                        <div class="summary-participant-right summary-balance-value">{{ participant_overcontrib | get_item:participant | money_amount:'simple' }}</div>
                    {% elif participant in participant_undercontrib %}
                        <div class="summary-participant-left">Under-contribution (payable):</div>
                        <div class="summary-participant-right summary-balance-value">{{ participant_undercontrib | get_item:participant | money_amount:'simple' }}</div>
                    {% else %}
                        <div class="summary-participant-left">Balance owed:</div>
                        <div class="summary-participant-right summary-balance-value">{{ participant_variance | get_item:participant | money_amount:'simple' }}</div>
                        {# should be zero variance here #}
                    {% endif %}
                </div>

            </div>
        {% endfor %}
</div>


{% endblock %}
