{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="form-wrapper">
    <div class="sub-title">
        Login
    </div>

    <form id="login-form" method="post">{% csrf_token %}

        <div class="form-errors">
            {{ form.custom_error }}
            {{ form.non_field_errors }}
        </div>

        <div class="floating form-col form-labels-col">
            <div>{{ form.username.label_tag }}</div>
            <div>{{ form.password.label_tag }}</div>
        </div>

        <div class="floating form-col form-fields-col">
            <div>{{ form.username }}</div>
            <div>{{ form.password }}</div>
        </div>

        <div class="floating form-col form-field-errors-col">
            <div>{{ form.username.errors }}</div>
            <div>{{ form.password.errors }}</div>
        </div>

        <div class="clear-float"></div>

        <div class="form-buttons">
            <input type="submit" class="form-button" name="form-submit-save" value="Login" />
        </div>

    </form>

    <div class="clear-float"></div>

</div>

{% endblock %}
