{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<div class="form-wrapper">

    <form id="money-record-form" method="post">{% csrf_token %}

        {% if form.record_type == 'expense' %}
            <div class="form-title">Record an expense</div>
            <div class="form-description">
                This record captures a expense paid for by one of the participants.
                For example, "Jack pays $850 for the group's hotel stay in Berlin"
            </div>
        {% elif form.record_type == 'transfer' %}
            <div class="form-title">Record a transfer of funds</div>
            <div class="form-description">
                This record captures a transfer of funds between two participants.
                For example, "Mary gives Jack $200 to even out her contribution to date"
            </div>
        {% endif %}

        <div class="form-errors">
            {{ form.custom_error }}
            {{ form.non_field_errors }}
        </div>

        {# Hidden input #}
        <div>{{ form.record_type_hidden }}</div>

        <div class="form-row" id="field-pub-date">
            <div class="form-row-item form-label">{{ form.date.label_tag }}</div>
            <div class="form-row-item form-field">{{ form.date }}</div>
            <div class="form-row-item form-field-errors">{{ form.date.errors }}</div>
        </div>

        {% if form.record_type == 'expense' %}
        <div class="form-row" id="field-description">
            <div class="form-row-item form-label">{{ form.description.label_tag }}</div>
            <div class="form-row-item form-field">{{ form.description }}</div>
            <div class="form-row-item form-field-errors">{{ form.description.errors }}</div>
        </div>
        {% endif %}

        <div class="form-row" id="field-amount">
            <div class="form-row-item form-label">{{ form.amount.label_tag }}</div>
            <div class="form-row-item form-field">{{ form.amount }}</div>
            <div class="form-row-item form-field-errors">{{ form.amount.errors }}</div>
        </div>

        <div class="form-row" id="field-participant1">
            <div class="form-row-item form-label">{{ form.participant1.label_tag }}</div>
            <div class="form-row-item form-field">{{ form.participant1 }}</div>
            <div class="form-row-item form-field-errors">{{ form.participant1.errors }}</div>
        </div>

        {% if form.record_type == 'transfer' %}
        <div class="form-row" id="field-participant2">
            <div class="form-row-item form-label">{{ form.participant2.label_tag }}</div>
            <div class="form-row-item form-field">{{ form.participant2 }}</div>
            <div class="form-row-item form-field-errors">{{ form.participant2.errors }}</div>
        </div>
        {% endif %}

        <div class="form-buttons">
            <input type="submit" class="button button-margin-right" name="form-submit-save" value="Save" />
            <input type="submit" class="button button-margin-right" name="form-submit-cancel" value="Cancel" />
            {% if existing_record %}
                <div id="record-delete-control">
                    <span id="button-delete">
                        <button class="button button-no-margin button-warn" onclick="confirmDelete(); return false;">Delete</button>
                    </span>
                    <span id="confirm-delete">
                        <span id="confirm-delete-text">Delete for sure?</span>
                        <input type="submit" class="button button-warn button-short button-margin-right" name="form-submit-delete" value="Yes" />
                        <button class="button button-warn button-short button-no-margin" onclick="cancelDelete(); return false;">No</button>
                    </span>
                </div>
            {% endif %}
        </div>

    </form>



</div>

<script>
    function confirmDelete() {
        $('#button-delete').fadeOut(function() {
            $('#confirm-delete').fadeIn()
        })
    }
    function cancelDelete() {
        $('#confirm-delete').fadeOut(function() {
            $('#button-delete').fadeIn()
        })
    }
</script>

{% endblock %}
