{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}" />

<div id="main-wrapper">

    <div id="title">
        Action status
    </div>

    <div id="inner-wrapper">
        <div class="action-status">
            {% if success %}
                <div class="action-status-success">Action succeeded</div>
            {% else %}
                <div class="action-status-failure">Action failed</div>
            {% endif %}
        </div>
    </div>

</div>