{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}" />

<div id="main-wrapper">

    <div id="title">{{ event.name }}</div>

    <div id="inner-wrapper">

        <div id="expenses-container">

            <div class="expenses-col">
                <div class="expenses-header">
                    <div class="expenses-cell"></div>
                </div>
                {% for expense in expenses_list %}
                    <div class="expenses-cell expense-cell-id-{{ expense.expense_id }}">
{#                        <a class="action-link action-link-delete" href="{{ expense.url_delete }}"><img src="{% static 'expenses/images/16x16/delete.png' %}"></a>#}
                        <a class="action-link action-link-edit" href="{{ expense.url_edit }}">
                            Edit
{#                            <img src="{% static 'expenses/images/16x16/edit.png' %}">#}
                        </a>
                    </div>
                {% endfor %}
                <div class="expenses-cell"></div>


                <div class="expenses-footer">
                    <div class="expenses-cell expenses-cell-strong"></div>
                    <div class="expenses-cell expenses-cell-strong"></div>
                </div>
            </div>

            <div class="expenses-col">
                <div class="expenses-header">
                    <div class="expenses-cell">Item description</div>
                </div>
                {% for expense in expenses_list %}
                    <div class="expenses-cell expense-cell-id-{{ expense.expense_id }}">{{ expense.description }}</div>
                {% endfor %}
                <div class="expenses-cell">
                    <a class="action-link action-link-add" href="{{ url_add_expense }}"><img src="{% static 'expenses/images/16x16/add.png' %}"> add new</a>
                </div>


                <div class="expenses-footer">
                    <div class="expenses-cell expenses-cell-strong">Totals</div>
                    <div class="expenses-cell expenses-cell-strong">Variance</div>
                </div>
            </div>

            <div class="expenses-col">
                <div class="expenses-header">
                    <div class="expenses-cell">Date</div>
                </div>
                {% for expense in expenses_list %}
                    <div class="expenses-cell expense-cell-id-{{ expense.expense_id }}">{{ expense.pub_date | date:"Y/m/d" }}</div>
                {% endfor %}
                <div class="expenses-cell"></div>

                <div class="expenses-footer">
                    <div class="expenses-cell"></div>
                    <div class="expenses-cell"></div>
                </div>
            </div>

            {% for person in participants %}
                <div class="expenses-col expenses-col-numeric">
                    <div class="expenses-header expenses-header-person">
                        <div class="expenses-cell">{{ person.name }}</div>
                    </div>
                    {% for expense in expenses_list %}
                        <div class="expenses-cell expense-cell-id-{{ expense.expense_id }}">{{ expense.contributions | get_item:person | money_amount_hide_zero}}</div>
                    {% endfor %}
                    <div class="expenses-cell"></div>

                    <div class="expenses-footer">
                        <div class="expenses-cell">{{ participant_total | get_item:person | money_amount }}</div>
                        <div class="expenses-cell">{{ participant_variance | get_item:person | money_amount }}</div>
                    </div>
                </div>
            {% endfor %}

            <div class="expenses-col expenses-col-numeric">
                <div class="expenses-header">
                    <div class="expenses-cell expenses-cell-lastcol">Item total</div>
                </div>
                {% for expense in expenses_list %}
                    <div class="expenses-cell expenses-cell-lastcol expense-cell-id-{{ expense.expense_id }}">{{ expense.total_amount | money_amount }}</div>
                {% endfor %}
                <div class="expenses-cell"></div>

                <div class="expenses-footer">
                    <div class="expenses-cell expenses-cell-lastcol expenses-cell-strong">{{ event_total | money_amount }}</div>
                    <div class="expenses-cell expenses-cell-lastcol expenses-cell-strong">{{ event_split | money_amount }}</div>
                </div>
            </div>

            <div id="expenses-clear-float"/>
        </div>

    </div>

</div>