{% extends "expenses/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="form-wrapper">
    <div class="sub-title">
    {% if existing_record %}
        Edit record
    {% else %}
        Create new record
    {% endif %}
    </div>

    <form id="money-record-form" method="post">{% csrf_token %}

        <div class="form-errors">
            {{ form.custom_error }}
            {{ form.non_field_errors }}
        </div>

        <div class="floating form-col form-labels-col">
            <div>{{ form.pub_date.label_tag }}</div>
            <div>{{ form.description.label_tag }}</div>
            <div>{{ form.amount.label_tag }}</div>
            <div>{{ form.participant1.label_tag }}</div>
            <div>{{ form.participant2.label_tag }}</div>
        </div>

        <div class="floating form-col form-fields-col">
            <div id="field-pub-date">{{ form.pub_date }}</div>
            <div id="field-description">{{ form.description }}</div>
            <div id="field-amount">{{ form.amount }}</div>
            <div id="field-participant1">{{ form.participant1 }}</div>
            <div id="field-participant2">{{ form.participant2 }}</div>
        </div>

        <div class="floating form-col form-field-errors-col">
            <div>{{ form.pub_date.errors }}</div>
            <div>{{ form.description.errors }}</div>
            <div>{{ form.amount.errors }}</div>
            <div>{{ form.participant1.errors }}</div>
            <div>{{ form.participant2.errors }}</div>
        </div>

        <div class="clear-float"></div>

        <div class="form-buttons">
            <input type="submit" class="form-button" name="form-submit-save" value="Save" />
            {% if existing_record %}
                <input type="submit" class="form-button" name="form-submit-delete" value="Delete" />
            {% endif %}
            <input type="submit" class="form-button" name="form-submit-cancel" value="Cancel" />
        </div>

    </form>
</div>
{% endblock %}
