{% extends "expenses/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="form-wrapper">
    <div class="sub-title">
    {% if existing_record %}
        Edit record
    {% else %}
        Create new record
    {% endif %}
    </div>

    <form id="money-record-form" method="post">{% csrf_token %}

        <div class="error-message-wrapper errorlist">
            {{ form.custom_error }}
        </div>
        <div class="error-message-wrapper errorlist">
            {{ form.non_field_errors }}
        </div>

        <div id="field-pub-date" class="form-field-wrapper">
            {{ form.pub_date.errors }}
            {{ form.pub_date.label_tag }} {{ form.pub_date }}
        </div>

        <div id="field-description" class="form-field-wrapper">
            {{ form.description.errors }}
            {{ form.description.label_tag }} {{ form.description }}
        </div>

        <div id="field-amount" class="form-field-wrapper">
            {{ form.amount.errors }}
            {{ form.amount.label_tag }} {{ form.amount }}
        </div>

        <div id="field-participant1" class="form-field-wrapper">
            {{ form.participant1.errors }}
            {{ form.participant1.label_tag }} {{ form.participant1 }}
        </div>

        <div id="field-participant2" class="form-field-wrapper">
            {{ form.participant2.errors }}
            {{ form.participant2.label_tag }} {{ form.participant2 }}
        </div>

        <input type="submit" class="form-submit" name="form-submit-save" value="Save" />
        {% if existing_record %}
            <input type="submit" class="form-submit" name="form-submit-delete" value="Delete" />
        {% endif %}
        <input type="submit" class="form-submit" name="form-submit-cancel" value="Cancel" />

    </form>
</div>
{% endblock %}
