{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}" />

<div id="main-wrapper">

    <div id="title">
        {% if object %}
            Edit user
        {% else %}
            Create new user
        {% endif %}
    </div>

    <div id="inner-wrapper">

        <div class="form-wrapper">
            <form method="post">{% csrf_token %}
                {% include "expenses/form_snippet.html" %}
                <input type="submit" value="Submit" class="form-submit"/>
            </form>
        </div>

    </div>

</div>