body {
    background-color: lightblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

#main-wrapper {
    display: table;
	margin: 0 auto;
    min-width: 800px;
    min-height: 600px;
    border-radius: 10px;
    background: whitesmoke;
}

#title {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: dodgerblue;
    color: darkblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub-title {
    font-size: 20pt;
    font-weight: bold;
    color: darkblue;
    margin-bottom: 10px;
}

#inner-wrapper {
    padding: 20px;
}

.records-col {
    float: left;
}

.records-header {
    min-height: 24px;
    font-size: 14pt;
    font-weight: bold;
    color: darkblue;
    background-color: lightblue;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.records-header.records-header-person {
    color: darkgreen;
}



.records-footer {
    background-color: lightblue;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.records-col-numeric {
    text-align: right;
}

#records-clear-float {
    clear: both;
}

.records-cell {
    padding: 1px 20px 1px 5px;
    min-height: 18px;
}

.records-cell.records-cell-strong {
    font-weight: bold;
}

.records-cell.records-cell-lastcol {
    padding-right: 5px;
}

.records-cell.records-bottom-row {
    min-height: 24px;
}

.records-cell .action-link {
    color: #0000EE;
}

.records-cell .action-link.action-link-edit {
    margin-left: 10px;
}

.records-cell .action-link.action-link-add {
    margin-left: 2px;
}

.records-cell .action-link img {
    width: 12px;
    height: 12px;
    padding: 2px 3px 0px 3px;
}



/* GENERIC FORM STYLING - APPLICABLE TO ALL FORMS */

.form-wrapper {
    padding: 10px;
}

form .errorlist {
    color: red;
}

.form-field-wrapper {
    padding: 5px 2px;
}

.form-field-wrapper label {
    margin-right: 10px;
}

.form-submit {
    margin-top: 10px;
}


/* LOGIN FORM */

#login-form {

}

#login-form #field-username {

}

#login-form #field-password {

}


/* MONEY RECORD FORM */

#money-record-form {

}

#money-record-form #field-pub-date input {
    width: 80px;
}

#money-record-form #field-description input {
    width: 500px;
}

#money-record-form #field-amount input {
    width: 80px;
}

#money-record-form #field-participant select {
    width: 200px;
}